<h1>Add product</h1>

<form action="/add_product_results">
    <p>Enter Item Name</p>
    <input type="text" name="item_name">
    
    <p>Enter Item Category</p>    
    <input type="text" name="item_cat">
      
    <p>Enter Item Quantity</p>
    <input type="number" name="item_loc">  
    
    <p>Enter Item Location</p>
    <input type="text" name="item_quant">  
    
    <p>Enter Item Price</p>
    <input type="text" name="item_price">
    
    <p>Enter Item Description</p>
    <input type="text" name="item_desc">
        
    <input type ="submit">   
</form>

<!-- new_item = Item.new(item_name, item_cat, item_loc, item_quant, item_price, item_desc) -->
