<h1> Your Product has been submitted successfully. </h1>

<h3><a href="/homepage">Go Back to the Homepage</a></h3
    
<%params = Item.new(item_name, item_cat, item_loc, item_quant, item_price, item_desc)%>
 
