<h1>Edit a Product</h1>

<form action="/edit_product_results">
    <p>Edit Item Name</p>
    <input type="text" name="item_name">
    
    <p>Edit Item Category</p>    
    <input type="text" name="item_cat">
      
    <p>Edit Item Quantity</p>
    <input type="number" name="item_loc">  
    
    <p>Edit Item Location</p>
    <input type="text" name="item_quant">  
    
    <p>Edit Item Price</p>
    <input type="text" name="item_price">
    
    <p>Edit Item Description</p>
    <input type="text" name="item_desc">
        
    <input type ="submit">   
</form>
