<h1>What product would you like to edit?</h1>

<% @list_item.each do |hash| %>
<p> <%= hash["id"] %> - <b> 
    <%= hash["name"] %> - <b> 
    <%= hash["location"] %> - <b> 
    <%= hash["description"] %>
</p>
<% end %>

<form action="/edit_choose_id">
    <p>Enter Item ID that you would like to edit.</p>
    <input type="text" name="id">
    
    <input type ="submit">
</form>
