<h1> Please Enter New Item Information. </h1>

<form action="/edit_product_results">
    <p>Enter Item Name</p>
    <input type="text" name="item_name" value="<%= @item_edit[0]["name"] %>">
    
    <p>Enter Item Category</p>    
    <input type="text" name="item_cat" value="<%= @item_edit[0]["item_cat"] %>">
      
    <p>Enter Item Quantity</p>
    <input type="number" name="item_loc">  
    
    <p>Enter Item Location</p>
    <input type="text" name="item_quant">  
    
    <p>Enter Item Price</p>
    <input type="text" name="item_price">
    
    <p>Enter Item Description</p>
    <input type="text" name="item_desc">
        
    <input type ="submit">   
</form>



<h3><a href="/">Go Back to the Homepage</a></h3
    

