<h1>What data would you like to fetch?</h1>

<form action="/fetch_choose">
    <p>Enter data you would like to see?</p>
    <p>1. Fetch all items</p>
    <p>2. Fetch all categories</p>
    <p>3. Fetch all location</p>
    
    <input type="text" name="num">
    
    <input type ="submit">
</form> 