
<h1> Produce Warehouse </h2>

<h2> What would you like to do with your inventory? </h2>

<h3><a href="/add">Add</a></h3>
<h3><a href="/delete">Delete</a></h3>
<h3><a href="/edit">Edit</a></h3>
<h3><a href="/fetch">Fetch</a></h3>
    